<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=<>, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
<!--For loop fetching data in table , and if statement with condition to strike if item is done-->
	<h1>Things I need to do:</h1>
	<table>
		{% for item in items %}
		<tr>
        {% if item.done %}
            <td><strike>{{ item.name }}</strike></td>
        {% else %}
            <td>{{ item.name }}</td>
        {% endif %}
		</tr>
        {% empty %}
        <tr><td>You have been productive!</td></tr>
		{% endfor %}
	</table>
</body>

</html>